extends layout

block content
  h1="Retrieve Document Comments"
  div
    span(id="status" class="status") Status: default
  form(id="form")
    label(for="documentId") Document ID
    input(id="input", required type="text", name="documentId", value="CMS-2021-0147-0001" placeholder="CMS-2021-0147-0001")
    input(type="submit" value="Submit" onClick='(e) => getComments(e)')
    
  div(class="table-container")
    table(id="table")
  
