extends layout

block content
  div(class="grid-container")
    h1="Retrieve Document Comments"
    div
      span(id="status" class="status") Status: default
    form(id="form" class="usa-form")
      label(for="documentId" class="usa-label") Document ID
      input(id="input", required type="text", name="documentId", value="CMS-2021-0168-0001" placeholder="CMS-2021-0168-0001" class="usa-input")
      input(type="submit" value="Submit" onClick='(e) => getDocumentComments(e)' class="usa-button")
      
    div(id="table-container" class="usa-table-container--scrollable margin-top-3" tabindex="0")
      table(id="table" class="usa-table")
  
