doctype html
html
  head
    title="Retrieve Document Comments"
    link(rel='stylesheet', href='/css/styles.css')
  body
    block content
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src="/js/index.js", type='text/javascript')
